.footer {
  height: 206px;
  padding-top: 134px;
  display: flex;
  justify-content: center;

  background-image: url("../img/back/footer-back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}